.vscode
yarn-error.log

# Generated, data, packages
node_modules
dist
data
build
resources/game-server-status/style.css

# Our files
.env
*.pem
*.json
!*.example.json
deploy.sh
markov_data.txt
metaconcord.db