.vscode
# yarn stuff
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Generated, data, packages
node_modules
dist
data
build
resources/game-server-status/style.css
cache

# Our files
.env
*.pem
*.json
!*.example.json
!app/services/gamebridge/payloads/structures/*.json
deploy.sh
markov_data.txt
metaconcord.db
