{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 100,
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "trailingComma": "es5"
}
